// NAV BAR 

.global__nav_close {
    position: fixed;
    width: 100%;
}


.global__nav_open {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0);
}


.global__nav {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.8);
}

.center {
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    
    .container {
        align-items: center;
        justify-content: space-between;
        display: flex;
        width: 100%;
        margin: 0;
        padding-inline-start: 0px;

        .burger {
            height: 17px;
            cursor: pointer;
        }

        .span__relative {
            position: absolute;
            left:20px;
            width: 15px;
            height: 1px;
            background-color: #f5f5f7;
           
        }

        .apple__logo {
            background-image: url("../../public/globalnav_apple_image__b5er5ngrzxqq_large.png");
            background-repeat: no-repeat;
        }

        .basket__logo {
            background-image: url("../../public/ezgif.com-gif-maker.png");
            background-repeat: no-repeat;
        }

        .logo {
            align-items: center;
            display: grid;
            width: 14px;
            height: 44px;
            line-height: 0;
        }

        li {
            opacity: .8;
            color: #f5f5f7;
            list-style: none;

            a {
                padding-left: 8px;
                padding-right: 8px;
                size: 12px;
                line-height: 0;
            }
        }

        li:hover {
            opacity: 1;
            transition-duration: 0.3s;
        }

    }
}


.big__nav {
    display: none;
}

    

@media (min-width: 833px) {
    .big__nav {
        display: grid;
        max-width: 1050px;
        font-size: 12px;
    }

    .search__logo {
        background-image: url("../../public/globalnav_search_image__cbllq1gkias2_large.png");
        background-repeat: no-repeat;
    }
    .little__nav {
        display: none;
    }
}

    


.burger__noanimation {
    .span__relative:nth-child(1) {
        top: 16px;
    }
    .span__relative:nth-child(2) {
        top: 24px;
    }

}


.burger__invaniamtion {
    .span__relative:nth-child(1) {
        top: 16px;
        animation: invani_frst 0.5s 1;
    }
    .span__relative:nth-child(2) {
        top: 24px;
        animation: invani_scdn 0.5s 1;
    }

    @keyframes invani_frst {
        0% {
            top: 20px;
            transform: rotate(44deg);
        }
        20% {
            transform: rotate(0deg);
        }

    }
    @keyframes invani_scdn {
        0% {
            top: 20px;
            transform: rotate(-44deg);
        }
        20% {
            transform: rotate(0deg);
        }
    }

}


.burger__animation {
    .span__relative:nth-child(1) {
        top: 20px;
        transform: rotate(-44deg);
        animation: ani_frst 0.5s 1;
    }
    .span__relative:nth-child(2) {
        top: 20px;
        transform: rotate(44deg);
        animation: ani_scdn 0.5s  1;
    }

    @keyframes ani_frst {
        0% {
            top: 16px;
            transform: rotate(0deg);
        }
        20% {
            top: 20px;
        }
    }

    @keyframes ani_scdn {
        0% {
            top: 24px;
            transform: rotate(0deg);
        }
        20% {
            top: 20px;
        }
    }

}



// NAV BAR 


// MODAL BURGER


.global__modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;

    .space__fixed {
        height: 44px;
    }

    .modal_container {
        border-bottom: rgba(255,255,255,0.4) solid 1px;
    }

    .container__ul {
        flex-shrink: 0;
        justify-content: center;
        display: flex;

        .ul_link {
            display: grid;
            animation: appear 0.5s 1;
            padding: 0;
            margin-top: 5px;
            width: 80%;

            li {
                opacity: .8;
                border-bottom: rgba(255,255,255,0.24) solid 1px;
                max-width: 584px;
                padding-top: 10px;             
                padding-bottom: 10px;
                font-size: 18px;
                list-style: none;
                color: #f5f5f7;
            }
        }
    }

        @keyframes appear{
            0% {
                opacity: 0;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

}

.open {
    animation: expand 0.5s 1;
}

@keyframes expand{
    0% {
        opacity: 0.8;
        height:44px;
    }
    100% {
        opacity: 1;
        height:100vh;
    }
}

.close {
    animation: reduce 0.5s 1;
    height:44px
}

@keyframes reduce{
    0%{
        opacity: 1;
        height:100vh;
        
    }
    100%{
        opacity: 0.8;
        height:44px; 
    }
}


// MODAL BURGER