.global__search {

    padding-bottom: 20px;

    .line__search {

        justify-content: center;
        display: flex;

        .block__search {
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 10px;
            height: 35px;
            padding-left :10px;
            margin-right: 20px;
            margin-left: 20px;
            max-width: 584px;
            width: 100%;
            background-color: #1D1D1F;

            .search__icon {
                width: 15px;
                height: 14px;
                background-image: url("../../public/search-icon-gray.png");
                background-repeat: no-repeat;
                
            }

            input {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                border-radius: 10px;
                margin-left: 10px;
                background-color: #1D1D1F;
                font-size: 17px;
                color: white;
            }
        }

    }
}



.input_blue:nth-child(2) {
    margin-left: 35px;
}

.container_input {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px
}
  
.input_bluel {
    cursor: pointer;
    color: #06c;
}

.arrow_bluel {
    cursor: pointer;
    color: #06c;
}

.input_bluel:hover {
    border-bottom: 2px solid #06c;
}


.input_blue {
    cursor: pointer;
    color: #2997ff;
}

.arrow_blue {
    cursor: pointer;
    color: #2997ff;
}

.input_blue:hover {
    border-bottom: 2px solid #2997ff;
}

